language: java

addons:
  sonarcloud:
    organization: "hedgedoge21490-github"
    token: "59fb20dfad64e67be4eaf408df137599994c4ae6"
script:
  # the following command line builds the project, runs the tests with coverage and then execute the SonarCloud analysis
  - mvn clean org.jacoco:jacoco-maven-plugin:prepare-agent install sonar:sonar
-Dsonar.login="59fb20dfad64e67be4eaf408df137599994c4ae6"